html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    cursor: none;
    position: fixed;
}

.hand {
    /* 2.8em in Chrome for Android */
    font-size: 4.5em;
    display: inline-block;
    will-change: transform;
    position: absolute;
}

.clapping-hands {
    /* display: none; */
}

.clapping-hands::after {
    /* content: '👏'; */
    /* display: inline-block; */
    /* transform: rotate(44deg); */
}
